/*!
    css by Ricardo Valle
    Game-Learn 2020
 */


/*general*/
.floatLeft{
    float: left;
}

.floatRight{
    float: right;
}

.paddingBottom10px{
    padding-bottom: 10px;
}


.headerLogo{
    min-width: 400px;
}

.headerLogo img{
    width: 170px;
}
.headerLogo h5{
    width: 180px ;
    color:  #1aa9d7 ;
    font-weight: bold ;
    padding-top: 5px ;
}

.head{
    border-bottom:  1px solid dimgrey;
}
.area {
    width: 80%;
    height: 100%;
    position: absolute;
    padding-top:50px;
    border: 2px dashed #000;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 64px 64px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    filter: alpha(opacity=50);
    -khtml-opacity: 0.5;
    -moz-opacity: 0.5;
    opacity: 0.5;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
}

.area input {
    width: 400%;
    height: 100%;
    margin-left: -300%;
    border: none;
    cursor: pointer;
    visibility:hidden;
}

.area input:focus {
    outline: none;
}

.area .spinner {
    display: none;
    margin-top: 50%;
}

.area:hover,
.area.dragging,
.area.uploading {
    /*filter: alpha(opacity=100);
    -khtml-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;*/
    background-color: #fcf9d2;
}

.area.uploading {
    background: none;
}

/*home*/
.header li {
        padding-left: 2em;
        padding-right: 2em;
}

 .header li:nth-child(1) {
    padding-left: 2em;
    padding-right: 2em;
    border-left: 1px solid dimgrey;
    border-right: 1px solid dimgrey;
    border-top: 1px solid dimgrey;
    font-size:large;
}
.home .header li:nth-child(1) a{
    color: orangered !important;
}

.line{
    height: 1px;
    background-color: #b2b0af;
    margin: 30px;
}

.completed{
    color: orangered !important;
    font-size: 12px;
}


h2{
    color: grey !important;
    font-size: 30px;
    font-weight: bold;
}


 h4{
    color: grey !important;
     font-size: 20px;
}


h6{
    color: orangered !important;
}

#form label.error {
    color: #FB3A3A;
    display: inline-block;
    margin: 0px 0 0px 0px;
    padding: 0;
    text-align: left;
    font-weight:bold ;
}

/*wellcome*/
.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.dropdown-item img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25px;
    height: 20px;
}
.dropdown-item:hover{
    background-color:#ffffcc;
}
